name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet supabase
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Accept Android Licenses
        run: |
          yes | flutter doctor --android-licenses

      - name: Flet Build APK
        # МАҢЫЗДЫ: --project-name қосылды (тек ағылшын әрпі және астын сызу _)
        run: |
          flet build apk --project-name satbaev_ubt --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Satbaev
          path: build/apk/app-release.apk
